#root {
  margin: 0 10px;
}

.form-label {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-input {
  display: block;
  height: 18px;
}

.form-message {
  display: block;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

.form-button {
  display: flex;
  flex-direction: column;
}

.searchbtn {
  width: 180px;
  height: 36px;
  margin-top: 10px;
}

.concellbtn {
  width: 180px;
  height: 36px;
  margin-top: 10px;
}